<style>
.footer{
    background:#4C4646;
    border-radius: 6px 6px 6px 6px;
    max-width:100%;
    height:auto;
}
*{
  font-family:Helvetica;
}

</style>
<div class = "container" style = "max-width:100%;height:auto;">
<div class="footer" style = "max-width:100%;height:auto;">
   <div class = "row">
   <div class = "col-sm-4"></div>
    <div class = "col-sm-4" style = "text-align:center; top:10px">
      <a href="https://www.tuseb.gov.tr" target="blank">
      <img src="/static/tuseb_logo.png" style="max-width:100%;height:auto;" title="Health Institutes of Türkiye" ></a>
      <a href="https://www.embo.org" target="blank">
      <img src="/static/EMBO-logo.png" style="max-width:100%;height:auto;" title="European Molecular Biology Organization" ></a>
      <a href="https://www.ibg.edu.tr" target="blank">
      <img src="/static/ibg_logo.png" style="max-width:100%;height:auto;" title="Izmir Biomedicine and Genome Center"></a>
      <p style = "color:#ccc; font-size:12px;" >This study was funded by <a href="https://www.tuseb.gov.tr" target="blank">TÜSEB</a> (Project code: 2019-TA-02, Project number: 3393) and <a href="https://www.embo.org/" target="blank">EMBO IG 4421.</a></p>
    </div>
    <div class = "col-sm-4"></div>
  </div>
  <div class = "row">
    <p style = "text-align:center; color:#ccc; font-size:12px;">Copyright &copy; 2024 All Rights Reserved by <a href="https://www.ibg.edu.tr/research-programs/groups/karaca-lab/" target="blank" style = "font-size:12px;">Karaca Lab.</a></p>
  </div>
  <div class="row mt-3">
  <!-- YOU CAN ADD YOUR CLUSTRMAPS CODE HERE FROM https://clustrmaps.com/
    <div class="col-12 text-center">
        <div style="max-width: 300px; margin: auto;">
          <script type='text/javascript' id='clustrmaps' src='YOUR CLUSTRMAP SRC'></script></div>
    </div>-->
</div>
</div>
</div>