<!DOCTYPE html>
<html lang="en">
<head>
  <title>PROT-ON</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="container">
<header>
<style>
header
{
    background-color: #181717;
    border-radius: 6px 6px 6px 6px;
}

.col-md-8{
    font-size: 16px;
    font-family:"-apple-system";
    width: 80%
     
}
.row {
    margin:0px auto;
    border-radius: 7px 7px 7px 7px;
}
</style> 
<div id="logo">
    <p align = "center"><a href="/"><img src="/static/proton-logo_web.png" style="max-width:100%;height:auto;"></a></p>
</div>    
</header>
{% include "includes/navbar.html" %}
<div class="container">
    <div class = "col-md-8">
        {% include "includes/messages.html" %}
        {% block body %}

        {% endblock  %}
    </div>
</div>
</div> 
<br>
<br>
{% include "includes/footer.html" %}
<br>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</body>
</html>