{% extends "layout.html" %}
{% block body %}
  <div style = "text-align:center">
    <h4 align = "center"><b style=font-size:17px;>Pre-calculated Runs</b></h4>
    <hr>
  </div>
  <p style=font-size:15px;font-family:Helvetica;text-align:justify>We provide example pre-calculated runs on three different complexes:</p>
  <div>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Complex 1:</b> Interaction between MDM2 and p53 proteins (PDB ID: <a href="https://www.rcsb.org/structure/1YCR" target="blank">1YCR,</a> interface cut-off: 5.0Å, IQR threshold: 1.5).</p>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Results page:</b><a href="http://proton.tools.ibg.edu.tr:8001/result/MDM2_p53_EvoEF1" target="blank"> http://proton.tools.ibg.edu.tr:8001/result/MDM2_p53_EvoEF1</a></p>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Complex 2:</b> Interaction between ACE2 and RBD proteins (PDB ID <a href="https://www.rcsb.org/structure/6M0J" target="blank">6M0J,</a> interface cut-off: 7.0Å, IQR threshold: 1.5).</p>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Results page:</b><a href="http://proton.tools.ibg.edu.tr:8001/result/ACE2_RBD_EvoEF1" target="blank"> http://proton.tools.ibg.edu.tr:8001/result/ACE2_RBD_EvoEF1</a></p>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Complex 3-Light Chain:</b> Interaction between immunoglobulin Fab D3H44, light chain and tissue factor (PDB ID: <a href="https://www.rcsb.org/structure/1JPS" target="blank">1JPS, </a> interface cut-off: 5.0Å, IQR threshold: 1.5).</p>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Results page:</b><a href="http://proton.tools.ibg.edu.tr:8001/result/1JPS_LightChain_TissueFactor" target="blank"> http://proton.tools.ibg.edu.tr:8001/result/1JPS_LightChain_TissueFactor</a></p>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Complex 3-Heavy Chain:</b> Interaction between immunoglobulin Fab D3H44, heavy chain and tissue factor (PDB ID: <a href="https://www.rcsb.org/structure/1JPS" target="blank">1JPS, </a> interface cut-off: 5.0Å, IQR threshold: 1.5).</p>
    <p style=font-size:15px;font-family:Helvetica;text-align:justify> <b>Results page:</b><a href="http://proton.tools.ibg.edu.tr:8001/result/1JPS_HeavyChain_TissueFactor" target="blank"> http://proton.tools.ibg.edu.tr:8001/result/1JPS_HeavyChain_TissueFactor</a></p>

  </div>
{% endblock  %}

